@font-face {
    font-family: Comfortaa;
    src: url("../assets/fonts/Comfortaa-Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url("../assets/fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url("../assets/fonts/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
