.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    background: #fff;
    width: 300px;
    height: 200px;
    font-family: Comfortaa, sans-serif;
    font-size: 12px;
    gap: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

.qrcode {
    margin: 0   ;
}